{% extends "base.html" %}
{% block content %}
	<div class="text">
		<form action="" method="POST" name="login">
			{{form.hidden_tag()}}

			<!--<div style="margin-top: 20px; height: 50px">-->
				<div class="wide right" style="height: 30px;">{{form.username(autofocus=True)}}</div>
				<div class="narrow left" style="height: 30px;">{{form.username.label}}</div>
				<div class="wide right" style="height: 30px;">{{form.password}}</div>
				<div class="narrow left" style="height: 30px;">{{form.password.label}}</div>
				<div class="wide right"><input type="submit" value="Log In"></div>
				<div class="narrow left">{{form.remember}} {{form.remember.label}}</div>
			<!--</div>-->
		</form>
	</div>
{% endblock %}
