{% extends "base.html" %}
{% block content %}
	<div style="width: 320px; margin: auto;">
		<form action="" method="POST" name="login">
			{{form.hidden_tag()}}

			<div class="wide right" style="height: 30px;">{{form.username(autofocus=True)}}</div>
			<div class="narrow left" style="height: 30px;">{{form.username.label}}</div>
			<div class="wide right" style="height: 30px;">{{form.password}}</div>
			<div class="narrow left" style="height: 30px;">{{form.password.label}}</div>
			<div class="narrow right"><input type="submit" value="Log In"></div>
			<div class="wide left">{{form.remember}} {{form.remember.label}}</div>
		</form>
	</div>
{% endblock %}
