{% extends "base.html" %}
{% block content %}

<div class="login">
    <form id="login-form" action="" method="POST" name="login-form">
        {{ form.hidden_tag() }}

        <div class="username">{{ form.username.label }}{{ form.username(autofocus=True) }}</div>
        <div class="password">{{ form.password.label }}{{ form.password }}</div>
        <div class="submit">
            {{ form.remember }}{{ form.remember.label }}
            <input type="submit" value="Log In" />
        </div>
    </form>
</div>

{% endblock %}

