{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="{{url_for('static', filename='sortable/Sortable.js')}}"></script>

<div class="sortable-container">
	<div class="heading">Options</div>
	<div id="options" class="sortable-list">
		{% for item in options %}
			<div class="sortable-item{% if item.premium %} premium{% endif %}">{{item.name}} ({{item.category}})</div>
		{% endfor %}
	</div>
</div>

<div class="sortable-container">
	<div class="heading">Ballot</div>
	<div id="votes" class="sortable-list">
		{% for item in votes %}
			<div class="sortable-item{% if item.premium %} premium{% endif %}">{{item.name}} ({{item.category}})</div>
		{% endfor %}
	</div>
</div>

<div class="form">
	<form method="POST" id="form">
		{{form.hidden_tag()}}
		<input type="submit" style="width: 80px;"/>
	</form>
</div>

<script type="text/javascript">
	var options = document.getElementById('options');
	Sortable.create(options, {group: 'columns'});

	var votes = document.getElementById('votes');
	Sortable.create(votes, {
		group: 'columns',
		onSort: function (evt) {
			var ballot = document.getElementById('votes').getElementsByTagName('div');
			var list = [];
			for (var i = 0; i < ballot.length; i += 1) {
				list.push(ballot[i].innerHTML.replace(/ \(.*\)$/, ''));
			}
			document.getElementById('ballot').value = list.join('|');
		}
	});
</script>

{% endblock %}
