{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="{{url_for('static', filename='sortable/Sortable.js')}}"></script>

{% if info %}
<div class="info">
	<a href="javascript:reverseDisplay('info');">Instructions</a>
	<p id="info" style="display: none;">
		{{ info|safe }}
	</p>
</div>
{% endif %}

<div class="sortable-container">
	<div class="heading">Options</div>
	<div id="options" class="sortable-list">
		{% for item in options %}
		<div class="sortable-item{% if item.premium %} premium{% endif %}{% if item.new %} new{% endif %}">{{item.name}} ({{item.category}})</div>
		{% endfor %}
	</div>
</div>

<div class="sortable-container">
	<div class="heading">Ballot</div>
	<div id="votes" class="sortable-list">
		{% for item in votes %}
		<div class="sortable-item{% if item.premium %} premium{% endif %}{% if item.new %} new{% endif %}">{{item.name}} ({{item.category}})</div>
		{% endfor %}
	</div>
	<div class="form">
		<form method="POST" id="form">
			{{form.hidden_tag()}}
			<input type="submit" style="width: 80px;"/>
		</form>
	</div>
</div>

{% if voters %}
<div class="voter-container">
	<div class="heading">Ballots Cast</div>
	<div class="voter-list">
		{% for v in voters %}
		<div class="sortable-item" style="text-align: center">{{v.name}}</div>
		{% endfor %}
	</div>
</div>
{% endif %}

<script type="text/javascript">
	function updateBallot() {
		// Gets the current sort order of the elements and updates the hidden form field.
		var ballot = document.getElementById('votes').getElementsByTagName('div');
		var list = [];
		for (var i = 0; i < ballot.length; i += 1) {
			list.push(ballot[i].textContent.replace(/ \(.*\)$/, ''));
		}
		document.getElementById('ballot').value = list.join('|');

		// Adjusts the size of the field for ease of dragging.
		document.getElementById('votes').style.minHeight = document.getElementById('options').clientHeight;
	}

	function reverseDisplay(element) {
		if(document.getElementById(element).style.display == "none") {
			document.getElementById(element).style.display = "block";
		}
		else {
			document.getElementById(element).style.display = "none";
		}
	}

	var options = document.getElementById('options');
	Sortable.create(options, {
		group: 'columns',
		delay: 50,
	});

	var votes = document.getElementById('votes');
	Sortable.create(votes, {
		group: 'columns',
		onSort: function (evt) { updateBallot(); },
		delay: 50,
	});

	// Trigger the update manually on page load so that the starting ballot is loaded in.
	updateBallot();
</script>

{% endblock %}
