body {
	font-family: serif;
	color: #ffffff;
	background-color: #222222;
	overflow-y:auto;
	margin: 0px;
}

p {
	margin: 0px;
}

input {
	color: #000000;
}

input:disabled {
	color: #ffffff;
}

input[type="text"] {
	width: 100%;
}

input[type="password"] {
	width: 100%;
}

#content {
	width: 800px;
	margin: auto;
	padding-top: 10px;
}

#title-buffer {
	width: 100%;
	height: 52px;
	top: 0px;
	position: static;
}

#title-bar {
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: #111111;
	border-bottom: solid #444444;
}

#title {
	width: 60%;
	margin: auto;
	font-variant: small-caps;
	font-size: 200%;
	text-align: center;
	padding: 10px 0px;
}

#back {
	width: calc(20% - 20px);
	float: left;
	text-align: left;
	padding: 10px;
}

#user {
	width: calc(20% - 20px);
	float: right;
	text-align: right;
	padding: 10px;
}

.sortable-container {
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}

.sortable-list {
	min-height: 245px;
	background-color: #222222;
	border: solid #444444;
}

.sortable-item {
	margin: -3px;
	padding: 5px;
	background-color: #111111;
	border: solid #444444;
	cursor: default;
}

.voter-container {
	padding-top: 20px;
	clear: left;
	width: 40%;
	margin: auto;
}

.voter-list {
	border: solid #444444;
}

.results-list {
	margin: auto;
	width: 40%;
	border: solid #444444;
}

.heading {
	font-variant: small-caps;
	font-size: 150%;
	text-align: center;
}

.messages {
	font-style: italic;
	text-align: center;
	margin: 10px 0px;
}

.premium {
	font-style: italic;
	color: #cccccc;
}

.new {
	background-color: #222222;
}

.wide {
	width: 65%;
	top: 0px;
}

.narrow {
	width: 35%;
	top: 0px;
}

.right {
	float: right;
	text-align: right;
}

.form {
	padding-top: 20px;
	text-align: center;
	width: 100%;
}

.info {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

a:link { text-decoration: none; color: #888888; }
a:visited { text-decoration: none; color: #888888; }
a:hover { text-decoration: none; color: #ffffff; }
a:active { text-decoration: none; color: #888888; }

